{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="border-bottom"></div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-8 col-md-8">
            <div class="box mt-3 p-2" id="box_shadow" style="width: 100%;">
                <form>
                    <div class="mb-2">
                      <label for="exampleInputEmail1" class="form-label text-velo text-small">نام کاربری :</label>
                      <div class="input-group flex-nowrap">
                        <span class="input-group-text border-end-0" id="addon-wrapping"><i class="bi bi-person"></i></span>
                        <input type="text" class="form-control border-start-0" aria-label="Username" aria-describedby="addon-wrapping">
                      </div>
                    </div>
                    <div class="mb-2">
                        <label for="exampleInputEmail1" class="form-label text-velo text-small">ایمیل :</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text border-end-0" id="addon-wrapping"><i class="bi bi-envelope"></i></span>
                            <input type="text" class="form-control border-start-0" aria-label="Email" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="exampleInputEmail1" class="form-label text-velo text-small">شماره همراه :</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text border-end-0" id="addon-wrapping"><i class="bi bi-telephone"></i></span>
                            <input type="text" class="form-control border-start-0" aria-label="Email" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="exampleInputPassword1" class="form-label text-velo text-small">کلمه عبور :</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text border-end-0" id="addon-wrapping"><i class="bi bi-key"></i></span>
                            <input type="password" class="form-control border-start-0" aria-label="password-1" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="exampleInputPassword1" class="form-label text-velo text-small">تکرار کلمه عبور  :</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text border-end-0" id="addon-wrapping"><i class="bi bi-key"></i></span>
                            <input type="password" class="form-control border-start-0" aria-label="password-2" aria-describedby="addon-wrapping">
                        </div>
                      </div>
                    <div class="mb-4 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label small" for="exampleCheck1"><a href="#">قوانین و شرایط</a> گیفت شاپ را خوانده و می پذیرم !</label>
                    </div>
                    <div class="d-grid gap-2 mb-4">
                        <button class="btn btn-success" type="button">ثبت نام</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}