{% extends 'base/base.html' %}
{% load static %}
{% block title %} ورود | گیفتز شاپ {% endblock %}
{% block content %}
    <div class="background-span">
        <span></span>
        <span></span>
    </div>
{#    <img class="img_singin" src="{% static 'img/333.png' %}">#}
    <img class="img_singin2 d-none d-lg-block d-xl-block" src="{% static 'img/2.png' %}">
<div class="container">
{#    <div class="border-bottom"></div>#}

    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-12 col-md-12" style="padding-bottom: 190px; padding-top: 80px">
            <div class="box_mute mt-3 pt-2" id="box_shadow" style="width: 100%;z-index: 2">
                {% for message in messages %}
                    <div class="alert alert-danger">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                           {{ message }}
                    </div>
                {% endfor %}
                <form  method="post" autocomplete="off" action="">
                    {% csrf_token %}
                    <div class="mb-2">
                      <label for="exampleInputEmail1" class="form-label text-small d-flex justify-content-center">ورود به سیستم</label>
                        <p style="font-size: 13px; text-align: center">لطفا شماره موبایل خود را وارد کرده و سپس کد تائید پیامک شده را وارد نمائید.</p>
                        <div class="input-group flex-nowrap" style="direction: ltr">
                            <span class="input-group-text border-start-0 mt-4" id="addon-wrapping">+۹۸</span>
                            <input id="yourphone" name="phone" type="text" class="form-control mt-4" placeholder="(۹۱۲) ۱۲۰-۱۲۰۰" maxlength="10" aria-describedby="addon-wrapping" style="text-align: center; direction: ltr" required>
                        </div>
                    </div>
                    <div class="d-grid gap-2 mb-4 mt-4">
                        <button class="btn btn-success" id="send_otp" type="submit">ارسال کد تایید
                          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="color: #2a2a2a;"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}