asgiref==3.4.1
attrs==21.4.0
az-iranian-bank-gateways==1.6.14
cached-property==1.5.2
certifi==2021.10.8
charset-normalizer==2.0.10
Django==4.0.1
idna==3.3
isodate==0.6.1
lxml==4.7.1
mysqlclient==2.1.0
platformdirs==2.4.1
pycryptodome==3.12.0
python-decouple==3.5
pytz==2021.3
requests==2.27.1
requests-file==1.5.1
requests-toolbelt==0.9.1
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.8
zeep==4.1.0
