{% load static %}
<footer class="footer">
    <div class="container">
        <div style="margin-top: 50px;"></div>
        <div class="box mt-3 p-5" id="box_shadow">
            <div class="row">
                <div class="col-2">
                    <div><span>پشتیبانی</span></div>
                    <div><span>حریم خصوصی</span></div>
                    <div><span>قوانین و مقررات</span></div>
                    <div><span>درباره ما</span></div>
                </div>

                <div class="col-3">
                    <div><span>گیفت کارت استیم</span></div>
                    <div><span>گیفت کارت گوگل پلی</span></div>
                    <div><span>گیفت کارت نتفلیکس</span></div>
                    <div><span>گیفت کارت اپل</span></div>
                </div>

                <div class="col-5">
                    <div style="margin-bottom: 10px;"><span>عضو خبرنامه گیفت شاپ هستید؟</span></div>
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <button class="btn btn-success" type="button" id="button-addon1">ثبت</button>
                                <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                              </div>
                        </div>

                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <img src="{% static 'img/zarinpal-badge2.png' %}" alt="" width="84" height="120">
                </div>
            </div>

            <div class="row d-flex">
                <div class="col-2"><span><i class="bi bi-telephone"> </i>09351000100</span></div>
                <div class="col-3"><span><i class="bi bi-envelope"> </i>info@gifts-shop.ir</span></div>
                <div class="col-5"><span><i class="bi bi-building"> </i>گیلان ،‌ رشت</span></div>
                <div class="col d-flex justify-content-center" style="padding: 10px">
                    <span>
                        <a href="#"><i class="bi bi-whatsapp" style="padding: 10px;"></i></a>
                        <a href="#"><i class="bi bi-instagram" style="padding: 10px;"></i></a>
                        <a href="https://t.me/Gifts_Shp"><i class="bi bi-telegram" style="padding: 10px;"></i></a>
                    </span>
                </div>
            </div>

        </div>
    </div>
    <div style="margin-top: 50px;"></div>
</footer>