{% load static %}
<footer class="footer">
{#    <div class="container">#}
        <div style="margin-top: 50px;"></div>
        <div class="box mt-3 p-5" id="box_shadow">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-2">
                    <div><span><a href="#"><i class="bi bi-headset"></i> پشتیبانی </a></span></div>
                    <div><span><a href="#"><i class="bi bi-shield-check"></i> حریم خصوصی </a></span></div>
                    <div><span><a href="#"><i class="bi bi-patch-check"></i> قوانین و مقررات </a></span></div>
                    <div><span><a href="#"><i class="bi bi-info-circle"></i> درباره ما </a></span></div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div><span><a href="#"><i class="bi bi-gift"></i> گیفت کارت استیم </a></span></div>
                    <div><span><a href="#"><i class="bi bi-gift-fill"></i> گیفت کارت گوگل پلی </a></span></div>
                    <div><span><a href="#"><i class="bi bi-gift"></i> گیفت کارت نتفلیکس </a></span></div>
                    <div><span><a href="#"><i class="bi bi-gift-fill"></i> گیفت کارت اپل </a></span></div>
                </div>

                <div class="col-sm-12 col-md-10 col-lg-5">
                    <div style="margin-bottom: 10px;"><span><i class="bi bi-envelope-check"></i> عضو خبرنامه گیفت شاپ هستید؟ </span></div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-5">
                            <div class="custom-subscribe">
                              <input type="text" class="custom-subscribe-input" placeholder="ایمیل خود را وارد کنید ...">
                              <button class="custom-subscribe-botton" type="submit">عضو میشم!</button>
                            </div>
{#                            <div class="input-group mb-3">#}
{#                                <button class="btn btn-success" type="button" id="button-addon1">ثبت</button>#}
{#                                <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">#}
{#                              </div>#}
                        </div>

                    </div>
                </div>

                <div class="col">
                    <div class="row d-flex justify-content-center gap-1">
                        <div class="trust_symbol">
                            <a>
                                <img src="{% static 'img/trust/zarinpal-badge2.png' %}" style="cursor: pointer" onclick='window.open("https://logo.samandehi.ir/", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")'>
                            </a>
                        </div>
                        <div class="trust_symbol">
                            <a>
                                <img src="{% static 'img/trust/samandehi.png' %}" style="cursor: pointer" onclick='window.open("https://logo.samandehi.ir/", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")'>
                            </a>
                        </div>
                        <div class="trust_symbol">
                            <a>
                                <img src="{% static 'img/trust/etehadie.png' %}" style="cursor: pointer" onclick='window.open("https://logo.samandehi.ir/", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")'>
                            </a>
                        </div>
                        <div class="trust_symbol">
                            <a>
                                <img src="{% static 'img/trust/enamad.png' %}" style="cursor: pointer" onclick='window.open("https://logo.samandehi.ir/", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")'>
                            </a>
                        </div>
                    </div>

{#                    <img src="{% static 'img/zarinpal-badge2.png' %}" alt="" width="84" height="120">#}
                </div>
            </div>

            <div class="row d-flex">
                <div class="d-flex col-sm-12 col-md-6 col-lg-2"><span><i class="bi bi-telephone"> </i>09351000100</span></div>
                <div class="d-flex col-sm-12 col-md-7 col-lg-3"><span><a href = "mailto: info@gifts-shop.ir"><i class="bi bi-envelope"> </i>info@gifts-shop.ir</a></span></div>
                <div class="d-flex col-sm-12 col-md-8 col-lg-5"><span><i class="bi bi-building"> </i>گیلان ، رشت ، بلوار مطهری ، جنب پاساژ ملت، ساختمان دیوا</span></div>
                <div class="col d-flex justify-content-center" style="padding: 10px">
                    <span>
                        <a href="#"><i class="bi bi-whatsapp" style="padding: 10px;"></i></a>
                        <a href="#"><i class="bi bi-instagram" style="padding: 10px;"></i></a>
                        <a href="https://t.me/Gifts_Shp"><i class="bi bi-telegram" style="padding: 10px;"></i></a>
                    </span>
                </div>
            </div>

        </div>
{#    </div>#}
    <div class="col d-flex justify-content-center" style="margin-top: 40px; text-align: center">
        <div>
            <span> تمامی حقوق مادی و معنوی این وبسایت متعلق به گیفتز شاپ می باشد و هر گونه کپی برداری پیگرد قانونی دارد</span>
        </div>
    </div>

</footer>