{% load static %}
<header class="p-2 mb-1" id="header-nav">
    <div class="container">
        <div class="d-flex align-content-start flex-wrap menu-container m-2">
            <div class="logo d-flex justify-content-sm-end"><a href="/"><img src="{% static 'img/logo.png' %}" alt="logo" width="42" height="42" style="margin-left: 10px;" aria-label="logo"></a></div>
            <ul class="nav col-sm-8 col-md-9 col-lg-auto me-lg-auto mb-2 justify-content-start mb-md-0">
                <li><a href="#" class="d-none d-lg-block nav-link px-2 link-secondary text-velo hover-underline-animation">صفحه اصلی</a></li>
                <li class="dropdown d-none d-lg-block">
                    <a class="nav-link dropdown-toggle text-velo" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        گیفت کارت
                    </a>
                    <ul class="dropdown-menu dropdown-menu bg-black " aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item text-velo hover-underline-animation" href="#"><span><i class="bi bi-steam"></i></span>استیم</a></li>
                        <li><a class="dropdown-item text-velo hover-underline-animation" href="#"><span><i class="bi bi-cart4"></i></span>آمازون</a></li>
                        <li><a class="dropdown-item text-velo hover-underline-animation" href="#"><span><i class="bi bi-google"></i></span>گوگل پلی</a></li>
                        <li><a class="dropdown-item text-velo hover-underline-animation" href="#"><span><i class="bi bi-camera-reels-fill"></i></span>نت فلیکس</a></li>
                        <li><a class="dropdown-item text-velo hover-underline-animation" href="#"><span><i class="bi bi-controller"></i></span>بلیزارد</a></li>

                    </ul>
                </li>
                <li><a href="#" class="d-none d-lg-block nav-link px-2 link-secondary text-velo">پشتیبانی</a></li>
                <li><a href="#" class="d-none d-lg-block nav-link px-2 link-secondary text-velo">پیگیری سفارش</a></li>
                <li><a href="#" class="d-none d-lg-block nav-link px-2 link-secondary text-velo">ارتباط باما</a></li>
            </ul>

            <div class="d-flex justify-content-start align-items-start">
                <button type="button" class="d-none d-lg-block d-md-block btn btn-outline-secondary cart-btn link-green position-relative">
                    <i class="bi bi-cart-fill"></i>
                    <span class="position-absolute top-0 start-0 translate-middle p-1 bg-badge rounded-circle">
                        <span class="visually-hidden">New alerts</span>
                    </span>
                </button>
                {% if user.is_authenticated %}
                <span class="d-none d-lg-block ms-2 ps-3 pe-5 py-1 badge rounded-pill user-point"> <img src="{% static 'img/game-controller-outline.svg' %}" alt="User_Point" class="me-1"> 129</span>
                <div class=mx-2 dropdown text-end">
                    <a href="#" class="d-none d-lg-block d-md-block link-green text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'img/avatar.jpg' %}" alt="avatar" width="36" height="36" class="rounded-circle user-avatar">
                    </a>
                    <ul class="dropdown-menu text-small bg-black user-menu-dropdown" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item text-velo" href="#"><span><i class="bi bi-person-circle"></i></span>پروفایل</a></li>
                        <li><a class="dropdown-item text-velo" href="#"><span><i class="bi bi-chat-dots"></i></span>تیکت</a></li>
                        <li><a class="dropdown-item text-velo" href="#"><span><i class="bi bi-gear"></i></span>تنظیمات</a></li>
                        <li>
                        <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-velo" href="#"><span><i class="bi bi-box-arrow-right"></i></span>خروج</a></li>
                    </ul>
                </div>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-success" role="button" style="margin-left: 4px;">ورود</a>
                {% endif %}
            </div>
        </div>
        <!-- <div class="border-bottom"></div> -->
    </div>
</header>