
{% load static %}
<header class="p-3 mb-3" id="header-nav">
    <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-around">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-start mb-md-0">
        <li><a href="#"><img class="profile-radius" src="{% static 'img/logo.png' %}" alt="" width="42" height="42" style="margin-left: 10px;"></a></li>
        <li><a href="#" class="nav-link px-2 link-secondary text-velo hover-underline-animation">صفحه اصلی</a></li>
        <li><a href="#" class="nav-link px-2 link-secondary text-velo">وبلاگ</a></li>
        <li><a href="#" class="nav-link px-2 link-secondary text-velo">پشتیبانی</a></li>
        <li><a href="#" class="nav-link px-2 link-secondary text-velo">پیگیری سفارش</a></li>
        <li><a href="#" class="nav-link px-2 link-secondary text-velo">ارتباط باما</a></li>
        <!-- <li><a href="#" class="donate nav-link px-2 link-purple-200">حمایت 💜</a></li> -->
        </ul>

        <div class=" d-flex align-items-center justify-content-end">
        <button type="button" class="btn btn-outline-secondary link-green position-relative">
            <i class="bi bi-cart-fill"></i>
            <span class="position-absolute top-0 start-0 translate-middle p-2 bg-success rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
          </button>
        <span class="mx-2 ps-3 pe-5 py-2 badge rounded-pill bg-dark"> <img src="https://exercism-v3-assets.s3.eu-west-2.amazonaws.com/packs/media/images/icons/reputation-fa230cf4d89ede908a0c91cb571ee843.svg" class="me-1"> 129</span>

        <div class=mx-2 dropdown text-end">
            <a href="#" class="d-block link-green text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://avatars.githubusercontent.com/u/13575387?v=4" alt="avatar" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">پروفایل</a></li>
            <li><a class="dropdown-item" href="#">تیکت</a></li>
            <li><a class="dropdown-item" href="#">تنظیمات</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">خروج</a></li>
            </ul>
        </div>
        </div>
    </div>
    </div>

</header>