{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="col">
        <div class="box" style="height: 500px;">
            <h4>درباره ما</h4>
            <p>
                 گیفتز شاپ فعالیت خود را در زمینه فروش گیفت کارت از سال 99 اغاز کرد.متاسفانه به دلیل وجود تحریم ها و عدم امکان خرید گیفت کارت از استور های استیم گوگل اپل و ... به صورت مستقیم گیفتز شاپ این امکان را برای شما عزیزان فراهم کرده که بتوانید تمامی گیفت کارت هایی پر مخاطب در ایران مانند استیم ،گوگل پلی ، پلی استیشن ، اپل ، ایکس باکس ، نت فلیکس و سایر گیفت کارت ها را باقیمت منصفانه و تحویل سریع تهیه کنید.
گیفتز شاپ تمامی گیفت کارت ها را از استور ها و نمایندگی های طرف قرارداد فروشگاه مرجع خردیداری کرده و کد ها کاملا قانونی و معتبر میباشد.تمامی تلاش ما بر این است که کاربران بتوانند گیفت کارت ارزان را در کوتاه ترین زمان با بهترین پشتیبانی انجام دهند.همچنین گیفتز شاپ برای مبارزه با تحریم های کشورهای مختلف وعدم دسترسی به ویزاکارت و مسترکارت در ایران گیفت کارت را برای برطرف کردن نیاز تلفن همراه و دیگر امکانات پیشنهاد میکند.
            </p>
        </div>
    </div>
</div>

{% endblock content %}