{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="border-bottom"></div>
    <div class="col">
        <div class="box" style="height: 500px;">
            <h2>Test</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, unde.</p>
            <h2>Test 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, unde.</p>
            <h2>Test 3</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, unde.</p>
        </div>
    </div>
</div>

{% endblock content %}