{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="col">
        <div class="box mt-4" style="height: 500px;">
            <div class="row d-flex justify-content-start">
                <div class="col">
                    <h6 style="margin-top: 50px">🟢 پشتیبانی گیفتز شاپ</h6>
                    <br>
                    <h6>🟢 خوش اومدی از طریق راههای زیر میتونی باما در ارتباط باشی :</h6>
                    <ul class="a">
                        <li>از طریق پشتیبانی آنلاین ( چت آنلاین آیکون سمت راست پایین صفحه )</li>
                        <li>از طریق پشتیبانی تلگرام <a href="https://t.me/Gifts_Shop_Sup">gifts_shop_sup@</a></li>
                        <li>از طریق تماس تلفنی 09120001212</li>
                        <li>از طریق ارسال ایمیل به آدرس <a href="mailto:support@gifts-shop.ir">support@gifts-shop.ir</a></li>

                        <li></li>
                        <li></li>
                    </ul>
                    <h6>🟢 ساعت کاری ما :</h6>
                    <div>
                        <ul class="a">
                            <li>شنبه تا پنجشنبه : ۹ صبح الی ۲۳</li>
                            <li>جمعه ها : ۱۶ بعدازظهر الی ۲۳</li>
                        </ul>
                    </div>

                    <div>
                        <h6>🟢 گیفتز شاپ در شبکه های اجتماعی :</h6>
                        <span style="margin-right: 50%">
                            <a href="#"><i class="fa fa-telegram fa-2x" aria-hidden="true" style="padding-left: 5px"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true" style="padding-left: 5px"></i></a>
                            <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true" style="padding-left: 5px"></i></a>
                            <a href="#"><i class="fa fa-whatsapp fa-2x" aria-hidden="true" style="padding-left: 5px"></i></a>
                        </span>
                    </div>

                </div>
                <div class="col">
                     <img src="{% static 'img/support-1.png' %}" alt="" width="500" height="400" style="margin-top: 50px;filter: drop-shadow(10px 10px 4px #151515);">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}