{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="background-span">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container">
        <!-- <div class="border-bottom"></div> -->
        <div class="col">
            <div class="box_mute mt-4" style="padding: 45px;">
                <h4>🔸گیفتز شاپ</h4>
                <p>تنها آدرس رسمی ما gifts-shop.ir می باشد و هر سایت دیگری تحت نام گیفتز شاپ فعالیت کند غیرمجاز و ناشناخته است پس حتما آدرس فروشگاه رو چک کنید.</p>
                <h4>🔸اطلاعات شما</h4>
                <p>تمامی اطلاعات شما در سایت محفوظ و محرمانه تلقی خواهد شد و مجموعه ما قول صد در صدی میدهد که از این اطلاعات تنها برای اطلاع رسانی خرید، آموزش ها، پشتیبانی و اطلاعیه های مربوط به محصول استفاده خواهد کرد و هیچ گونه تبلیغات و یا استفاده سوء از اطلاعات شما انجام نخواهد شد.</p>
                <h4>🔸صحت اطلاعات وارد شده</h4>
                <p>لطفا تمامی اطلاعات را به صورت واقعی وارد کنید در صورتی که این اطلاعات مشکوک به نظر برسند گیفتز شاپ این حق را دارد تا خرید شما را کنسل و بازپرداخت وجه منوط به تایید اطلاعات می باشد.</p>
                <h4>🔸قوانین احراز هویت</h4>
                <p>احراز هویت بخش مهمی از ارائه‌ی خدمات در گیفتز شاپ می‌باشد. همواره در تلاش هستیم تا هویت کاربران را از هر جهت سنجیده و احراز کنیم. احراز هویت از پرداخت‌های ناخواسته و نامتعارف جلوگیری می‌کند. استفاده‌ی کاربر از خدمات ما به این معنی است که از قوانین احراز هویت آگاهی داشته و پذیرفته است.
                    ۱- با توجه به قوانین کشور گیفتز شاپ موظف است که پیش از ارائه‌ی خدمات آنلاین، مدارک لازم برای احراز هویت را دریافت نماید.
                    ۲- احراز هویت ممکن است با شماره تلفن ثابت ،کارت ملی، کارت بانکی، پاسپورت، شناسنامه،‌ قبض‌های خدماتی، سلفی با کارت بانکی و کارت ملی یا با همه‌ ی این مدارک انجام شود.
                    ۴- کاربر برای استفاده از خدمات گیفتز شاپ ، علاوه بر موبایل باید به تلفن ثابت نیز دسترسی داشته باشد.
                    ۶- در صورتی که فردی پرداختی در سایت گیفتز شاپ داشته باشد. لزوما باید تمام مراحل احراز هویت را پشت سر بگذارد هرچند درخواست لغو سفارش را بدهد.
                    ۷- در صورت نیاز به عودت وجه به کاربرفقط به کارت بانکی که با آن پرداخت انجام شده، عودت داده می‌شود.
                    ۸- هر کاربر فقط برای خود می‌تواند حساب کاربری ایجاد کند. ایجاد حساب کاربری برای شخص دیگری امکان‌پذیر نمی‌باشد.
                    ۹- استفاده از حساب کاربری شخص دیگری خلاف مقررات گیفتز شاپ بوده و ممنوع می‌باشد.</p>
                <h4>🔸قوانین گیفتز شاپ</h4>
                <p>گیفتز شاپ در داخل ایران و با قوانین ایران فعالیت میکند از همین رو تمامی قوانین داخلی مربوط به فضای مجازی شامل قوانین کلی سایت نیز می باشد.</p>
                <h4>🔸قوانین خرید و استفاده از گیفت کارت و کارت های مجازی</h4>
                <p>1. اطلاعات کارت در مدت زمان حداکثر ۳۰ دقیقه به صورت اتوماتیک برای کاربر ارسال می‌شود.
                    2. به دلیل اینکه رمز و اطلاعات کارت نزد کاربر افشا می‌شود امکان باز پس گیری کارت‌ها وجود ندارد.
                    3. مبالغی که در انتهای کارت‌ها باقی می‌ماند قابلیت نقد کردن از سمت گیفتز شاپ را ندارد.
                    4. کارت‌های مجازی قابلیت تمدید و شارژ ندارند.
                    5. قبل از خرید کارت‌های مجازی لازم است کاربر مطمئن شود که سایتی که از آن میخواهد خرید انجام دهد‌‌‌، کارت‌های مجازی پریپید را قبول می‌کند.
                    6. همه ی گیفت کارت ها بدون هیچ سورس و رابطی به صورت مستقیم خریداری شده و کاملا اورجینال و اصل می باشد.
                    7. لطفا دقت فرمایید از آنجایی که گیفت کارت یک محصول مجازی می باشد و در هر لحظه امکان استفاده آن وجود دارد، پس از تحویل کد امکان استرداد و یا تعویض آن وجود ندارد همچنین خرید گیفت کارت در سایت گیفتز شاپ نیاز به احراز هویت دارد لطفا از صحت تلفن ثابت وارد شده و کارت ملی و کارت بانکی خود اطمینان حاصل نمایید. </p>
                <h4>🔸قیمت گذاری</h4>
                <p>تمامی محصولات مندرج در سایت با قیمت دلار روز محاسبه و کارمز به آنها اضافه شده است با توجه به متغییر بودن قیمت ارز قیمت ها ممکن است روزانه تغییر داشته باشند و گاهی ممکن است بعد از خرید به شما عزیزان اطلاع داده شود که قیمت کمتر یا بیشتر بوده است و مابه التفاوت آن را می بایست پرداخت کنید.
                    از آنجایی که خرید های ارزی صورت گرفته توسط گیفتز شاپ با دلار پی پل، پرفکت مانی و وب مانی محاسبه میشود و قیمت ارز آنها با ارز اسکناسی متفاوت می باشد، باید دقت کنید که ملاک محاسبه نرخ ارز دلار اسکناسی نیست.</p>
                <h4>🔸قوانین تحویل</h4>
                <p>زمان تحویل به صورت اتوماتیک و تا حداکثر ۳۰ دقیقه پیش بینی شده است، ولی اگر از این مدت زمان عبور کرد یعنی کد محصول خریداری شده اگر تا ۳۰ دقیقه تحویل نشد با پشتیبانی در تماس باشید.
                    در برخی از محصولات مانند خرید بازی ها این زمان بیشتر خواهد بود و از 1 تا 3 ساعت در روز های اداری و زمان اداری ظول میکشد پس پیشاپیش از صبر و شکیبایی شما سپاس گذاریم.</p>
                <h4>🔸تحویل اتوماتیک</h4>
                <p>تحویل کاملا اتوماتیک می باشد و تا ۳۰ دقیقه می بایست به شما تحویل داده شود بنابراین نیازی نیست تا این زمان با پشتیبانی تماس بگیرید، هر چند ما خوشحال خواهیم شد صدای شما را بشنویم.</p>
                <h4>🔸پشتیبانی</h4>
                <p>اگر به هر دلیلی کد تحویل شده نامعتبر و خطاهای این چنینی داشت، زمان بررسی و رفع مشکل با توجه به اینکه گیفتز شاپ تنها یک واسطه بین سورس اصلی و شما کاربرمحترم می باشد ممکن است از 1 ساعت تا 3 هفته به طول بیانجامد و تعویض کد منوط به پذیرش تعویض توسط سورس می باشد.
                    قوانین استفاده از گیفت کارت ها در بخش های آموزشی مربوط به گیفت کارتها نوشته شده است و شما حتما باید به آن عمل کنید برای مثال با توجه به قوانین گوگل پلی شما باید فقط برای همان ریجن اکانت خود گیفت کارت تهیه کنید و اگر به هر دلیلی گیفت کارت را استفاده کردید و کد تحویل شده نامعتبر شد مسئولیت آن برعهده شماست.
                    خرید از سایت به منزله پذیرش قوانین و مقررات می باشد.
                    گیفتز شاپ در زمان ها مختلف این اجازه را دارد که قوانین و مقررات را بروزرسانی نماید.</p>
            </div>
        </div>
    </div>

{% endblock content %}