{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="col">

        <div class="container-blog">
            <div class="card-blog">
              <div class="card-blog-header">
                <img src="https://s.aolcdn.com/images/dims?client=fh7w6q744eiognjk&signature=d59d0cf6af1d779a3dca451e0ba259c33bbc6115&image_uri=https%3A%2F%2Fs.aolcdn.com%2Fos%2Fab%2F_cms%2F2019%2F08%2F30142658%2F2020-jeep-wrangler-16.jpg&thumbnail=750%2C422&quality=80" alt="" />
              </div>
              <div class="card-blog-body">
                <span class="tag tag-teal" style="color: black;">استیم</span>
                <h6>گیفت کارت چیست؟</h6>
                <p>
                    گیفت کارت چیست؟یک کد دیجیتالی یایک کارت کاغذی یا پلاستیکی است که اعتبار مشخصی ...
                </p>
                <div class="user-blog">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Outdoors-man-portrait_%28cropped%29.jpg" alt="" />
                  <div class="user-blog-info">
                    <h6>ادمین</h6>
                    <small>۲ ساعت پیش</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-blog">
              <div class="card-blog-header">
                <img src="https://images.cruisecritic.com/image/18740535/10-best-cruise-destinations-for-hot-air-balloon-rides_600x400_21.jpg" alt="" />
              </div>
              <div class="card-blog-body">
                <span class="tag tag-red">نتفلیکس</span>
                <h6>آموزش فعال سازی نتفلیکس</h6>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, explicabo.
                </p>
                <div class="user-blog">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSft5PLhaSb6QUdT0yRu3rjlam1Rt--WDJ6yQ&usqp=CAU" alt="" />
                  <div class="user-blog-info">
                    <h6>آرش</h6>
                    <small>دیروز</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-blog">
              <div class="card-blog-header">
                <img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_232,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200305114843-01-edge-hudson-yards-observation-deck.jpg" alt="" />
              </div>
              <div class="card-blog-body">
                <span class="tag tag-pink">اسپاتیفای</span>
                <h6>بهترین سرویس کاهش پینگ</h6>
                <p>
                    خرید بهترین سرویس کاهش پینگ به معنی افزایش سرعت بازی و حرفه ای گیم پلی دادن ...
                </p>
                <div class="user-blog">
                  <img src="https://3.bp.blogspot.com/--sCpJJGYWEA/W2P4C51CYSI/AAAAAAAAQcI/LR4U_--Wf1E3wz7RLZtmwBPObm_ky9tQQCLcBGAs/s1600/beautiful-indian-women-photos-1.jpg" alt="" />
                  <div class="user-blog-info">
                    <h6>الهه</h6>
                    <small>۲۳ آذر ۱۴۰۰</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-blog">
                <div class="card-blog-header">
                  <img src="https://s.aolcdn.com/images/dims?client=fh7w6q744eiognjk&signature=d59d0cf6af1d779a3dca451e0ba259c33bbc6115&image_uri=https%3A%2F%2Fs.aolcdn.com%2Fos%2Fab%2F_cms%2F2019%2F08%2F30142658%2F2020-jeep-wrangler-16.jpg&thumbnail=750%2C422&quality=80" alt="" />
                </div>
                <div class="card-blog-body">
                  <span class="tag tag-teal" style="color: black;">استیم</span>
                  <h6>آموزش نصب استیم</h6>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, quisquam.
                  </p>
                  <div class="user-blog">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Outdoors-man-portrait_%28cropped%29.jpg" alt="" />
                    <div class="user-blog-info">
                      <h6>ادمین</h6>
                      <small>۲ ساعت پیش</small>
                    </div>
                  </div>
                </div>
            </div>

            <div class="card-blog">
                <div class="card-blog-header">
                  <img src="https://s.aolcdn.com/images/dims?client=fh7w6q744eiognjk&signature=d59d0cf6af1d779a3dca451e0ba259c33bbc6115&image_uri=https%3A%2F%2Fs.aolcdn.com%2Fos%2Fab%2F_cms%2F2019%2F08%2F30142658%2F2020-jeep-wrangler-16.jpg&thumbnail=750%2C422&quality=80" alt="" />
                </div>
                <div class="card-blog-body">
                  <span class="tag tag-teal" style="color: black;">استیم</span>
                  <h6>آموزش نصب استیم</h6>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, quisquam.
                  </p>
                  <div class="user-blog">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Outdoors-man-portrait_%28cropped%29.jpg" alt="" />
                    <div class="user-blog-info">
                      <h6>ادمین</h6>
                      <small>۲ ساعت پیش</small>
                    </div>
                  </div>
                </div>
            </div>

            <div class="card-blog">
                <div class="card-blog-header">
                  <img src="https://s.aolcdn.com/images/dims?client=fh7w6q744eiognjk&signature=d59d0cf6af1d779a3dca451e0ba259c33bbc6115&image_uri=https%3A%2F%2Fs.aolcdn.com%2Fos%2Fab%2F_cms%2F2019%2F08%2F30142658%2F2020-jeep-wrangler-16.jpg&thumbnail=750%2C422&quality=80" alt="" />
                </div>
                <div class="card-blog-body">
                  <span class="tag tag-teal" style="color: black;">استیم</span>
                  <h6>آموزش نصب استیم</h6>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, quisquam.
                  </p>
                  <div class="user-blog">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Outdoors-man-portrait_%28cropped%29.jpg" alt="" />
                    <div class="user-blog-info">
                      <h6>ادمین</h6>
                      <small>۲ ساعت پیش</small>
                    </div>
                  </div>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock content %}