{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="border-bottom"></div>
    <div class="box mt-3">
        <div class="row gx-3 mt-4 justify-content-start">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <img src="{% static 'img/slide1.jpg' %}" alt="" width="100%" style="border-radius: 10px;">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="item">
                    <img src="{% static 'img/2.jpg' %}" alt="" width="100%" style="border-radius: 10px; margin-bottom: 10%;">
                </div>
                <div class="col mt-2">
                    <div class="item">
                        <img src="{% static 'img/1.jpg' %}" alt="" width="100%" style="border-radius: 10px;">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="item">
                    <img src="{% static 'img/1.jpg' %}" alt="" width="100%" style="border-radius: 10px;margin-bottom: 10%;">
                </div>
                <div class="col mt-2">
                    <div class="item">
                        <img src="{% static 'img/2.jpg' %}" alt="" width="100%" style="border-radius: 10px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="box" style="margin-top: 2%;">

        </div>
    </div>
</div>

{% endblock content %}