{% load static %}
{% block content %}
    <aside class="sidebar">
        <div id="leftside-navigation" class="nano">
            <ul class="nano-content">
                <li>
                    <a href="{% url 'dashboard' %}" class="hover-underline-animation"><span>داشبورد</span><i class="bi bi-person-badge"></i></a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);"><span>پروفایل</span><i class="bi bi-chevron-left"></i></a>
                    <ul>
                        <li><a href="{% url 'id_verify' %}">احراز هویت</a></li>
                        <li><a href="{% url 'scores' %}">امتیازات</a></li>
                        <li><a href="{% url 'coupons' %}">کوپن ها</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);"><span>سفارشات</span><i class="bi bi-chevron-left"></i></a>
                    <ul>
                        <li><a href="{% url 'giftcards' %}">گیفت کارت ها</a></li>
                        <li><a href="{% url 'invoices' %}">صورت حساب ها</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);"></i><span>تنظیمات</span><i class="bi bi-chevron-left"></i></i></a>
                    <ul>
                        <li><a href="forms-components.html">تعویض کلمه عبور</a></li>
                            <li><a href="forms-validation.html">نوتیفیکشن</a></li>
                            <li><a href="forms-mask.html">اضافه کردن شماره</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);"><span>تیکت</span><i class="bi bi-chevron-left"></i></a>
                    <ul>
                        <li><a href="mail-inbox.html">تیکت جدید</a></li>
                        <li><a href="mail-compose.html">تیکت ها</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
{% endblock content %}