{% load static %}
{% block content %}
    <aside class="sidebar">
        <div id="leftside-navigation" class="nano">
            <ul class="nano-content">
                <li>
                    <a href="#" class="hover-underline-animation"><span>داشبورد</span><i class="bi bi-person-badge"></i></a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);"><span>پروفایل</span><i class="arrow fa fa-angle-left pull-left"></i></a>
                    <ul>
                        <li><a href="profile.html">پروفایل من</a></li>
                        <li><a href="ui-panels.html">امتیازات</a></li>
                        <li><a href="ui-buttons.html">تغییر مشخصات</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);"><span>سفارشات</span><i class="arrow fa fa-angle-left pull-left"></i></a>
                    <ul>
                        <li><a href="tables-basic.html">لیست سفارشات</a></li>
                        <li><a href="tables-data.html">سبد خرید</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);"></i><span>تنظیمات</span><i class="arrow fa fa-angle-left pull-left"></i></a>
                    <ul>
                        <li><a href="forms-components.html">تعویض کلمه عبور</a></li>
                            <li><a href="forms-validation.html">نوتیفیکشن</a></li>
                            <li><a href="forms-mask.html">اضافه کردن شماره</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);"><span>تیکت</span><i class="arrow fa fa-angle-left pull-left"></i></a>
                    <ul>
                        <li><a href="mail-inbox.html">تیکت جدید</a></li>
                        <li><a href="mail-compose.html">تیکت ها</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
{% endblock content %}